* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  list-style: none;
}

:root {
  --header-height: 3rem;

  /* ============  Color  ============ */

  --primary-color-dark: #0943d4;
  --primary-color-base: #0a4df4;
  --primary-color-light: #4477f7;
  --primary-color-light1: #b7cbfc;
  --primary-color-light2: #f0f4fe;

  --text-color-base: #111826;
  --text-color-light: #4a4f5a;
  --text-color-light1: #82868d;
  --text-color-light2: #bbbdc1;
  --text-color-light3: #eaeaeb;

  --bg-color-light: #ffffff;
  --bg-color-dark: #111216;

  /* ============  Font Size & Line Height - Mobile  ============ */

  --h1-font-size: 2.25rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1.125rem;
  --body-1-size: 1rem;
  --body-2-size: 0.875rem;
  --small-size: 0.75rem;

  --line-height-h1: 2.75rem;
  --line-height-h2: 2.5rem;
  --line-height-h3: 2.25rem;
  --line-height-h4: 2rem;
  --line-height-h5: 1.75rem;
  --line-height-h6: 1.5rem;
  --line-height-body-1: 1.5rem;
  --line-height-body-2: 1.25rem;
  --line-height-small: 1rem;

  /* ============  Font Weight  ============ */

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ============  Spacing  ============ */

  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;
  --spacing-40px: 2.5rem;
  --spacing-48px: 3rem;
  --spacing-64px: 4rem;
  --spacing-80px: 5rem;
  --spacing-84px: 5.25rem;
  --spacing-96px: 6rem;
}

section {
    transition: all 0.2s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  margin: 0;
  padding: var(--spacing-32px) 0;
}

.dark .hero {
  background: var(--text-color-base);
}

.hero_text {
  align-items: center;
  text-align: center;
  margin-bottom: var(--spacing-24px);
}

.hero_title {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24px);
  user-select: none;
  pointer-events: none;
}

.hero_text p.body-1 {
    color: var(--text-color-light1);
    padding-bottom: var(--spacing-40px);
}

.dark .hero_text p.body-1 {
    color: var(--text-color-light3);
    padding-bottom: var(--spacing-40px);
}

.hero_text p.body {
  color: var(--text-color-light1);
  margin-bottom: var(--spacing-24px);
}

.feature {
  margin: var(--spacing-80px) 0;
  user-select: none;
  pointer-events: none;
}

.features_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: var(--spacing-32px);
}

.card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24px);
  }

  .card_text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24px);
    text-align: center;
  }

  .card_text p {
    color: var(--text-color-light);
  }
  .dark .card_text p {
    color: var(--text-color-light2);
  }

  .content-ds {
    margin: var(--spacing-48px) 0;
    padding: var(--spacing-48px) 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-48px);
    justify-items: center;
    user-select: none;
    pointer-events: none;
  }

  .content_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24px);
  }

  .content_text p {
    color: var(--text-color-light) ;
  }

  .dark .content_text p {
    color: var(--text-color-light2) ;
  }


  .cta {
    background: #FFF8F3;
    text-align: center;
    align-items: center;
  }

  .dark .cta {
    background: #DB6028;
  }

  .title {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-32px);
    padding: var(--spacing-80px) 0;
  }

  .title .button {
    width: auto;
  }

/* ==========  Large Media  ========== */

@media screen and (min-width: 768px) {
    :root {
      /* ============  Font Size & Line Height - Web  ============ */
  
      --h1-font-size: 3rem;
      --h2-font-size: 2.25rem;
      --h3-font-size: 2rem;
      --h4-font-size: 1.75rem;
      --h5-font-size: 1.5rem;
      --h6-font-size: 1.25rem;
      --body-1-size: 1rem;
      --body-2-size: 0.75rem;
      --small-1-size: 0.875rem;
      --small-2-size: 0.75rem;
  
      --line-height-h1: 4rem;
      --line-height-h2: 2.75rem;
      --line-height-h3: 2.5rem;
      --line-height-h4: 2rem;
      --line-height-h5: 1.75rem;
      --line-height-body-1: 1.5rem;
      --line-height-body-2: 1.5rem;
      --line-height-small: 1rem;
    }

    .hero {
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        align-items: center;
        gap: 120px;
      }

      .hero_text {
        align-items: flex-start;
        text-align: left;
      }

      .hero img {
        width: 40%;
        user-select: none;
        pointer-events: none;
      }

      .card_text {
        text-align: left;
      }

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-48px);
        justify-content: space-between;
      }

      .content img {
        width: 40%;
      }

      .content_text {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: var(--spacing-40px);
        width: 35%;
      }


  .cta {
    background: #FFF8F3;
    text-align: left;
    align-items: left;
  }
  .title .button {
    width: 220px;
  }


}
