* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: "Plus Jakarta Sans", sans-serif;
  list-style: none;
}

a {
  color: var(--text-color-base);
  transition: all 0.2s ease-in-out;
}

.dark a {
  color: white;
}

:root {
  --header-height: 3rem;

  /* ============  Color  ============ */

  --primary-color-dark: #0943d4;
  --primary-color-base: #0a4df4;
  --primary-color-light: #4477f7;
  --primary-color-light1: #b7cbfc;
  --primary-color-light2: #f0f4fe;

  --text-color-base: #111826;
  --text-color-light: #4a4f5a;
  --text-color-light1: #82868d;
  --text-color-light2: #bbbdc1;
  --text-color-light3: #eaeaeb;

  --bg-color-light: #ffffff;
  --bg-color-dark: #111216;

  /* ============  Font Size & Line Height - Mobile  ============ */

  --h1-font-size: 2.25rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.75rem;
  --h4-font-size: 1.5rem;
  --h5-font-size: 1.25rem;
  --h6-font-size: 1.125rem;
  --body-1-size: 1rem;
  --body-2-size: 0.875rem;
  --small-size: 0.75rem;

  --line-height-h1: 2.75rem;
  --line-height-h2: 2.5rem;
  --line-height-h3: 2.25rem;
  --line-height-h4: 2rem;
  --line-height-h5: 1.75rem;
  --line-height-h6: 1.5rem;
  --line-height-body-1: 1.5rem;
  --line-height-body-2: 1.25rem;
  --line-height-small: 1rem;

  /* ============  Font Weight  ============ */

  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ============  Spacing  ============ */

  --spacing-4px: 0.25rem;
  --spacing-8px: 0.5rem;
  --spacing-12px: 0.75rem;
  --spacing-16px: 1rem;
  --spacing-20px: 1.25rem;
  --spacing-24px: 1.5rem;
  --spacing-32px: 2rem;
  --spacing-40px: 2.5rem;
  --spacing-48px: 3rem;
  --spacing-64px: 4rem;
  --spacing-80px: 5rem;
  --spacing-84px: 5.25rem;
  --spacing-96px: 6rem;
}

/* ============  Typo Settings  ============ */

h1 {
  font-size: var(--h1-font-size);
  line-height: var(--line-height-h1);
  font-weight: var(--font-bold);
}

h2 {
  font-size: var(--h2-font-size);
  line-height: var(--line-height-h2);
  font-weight: var(--font-bold);
}

h3 {
  font-size: var(--h3-font-size);
  line-height: var(--line-height-h3);
  font-weight: var(--font-bold);
}

h4 {
  font-size: var(--h4-font-size);
  line-height: var(--line-height-h4);
  font-weight: var(--font-semi-bold);
}

h5 {
  font-size: var(--h5-font-size);
  line-height: var(--line-height-h5);
  font-weight: var(--font-semi-bold);
}

h6 {
  font-size: var(--h6-font-size);
  line-height: var(--line-height-h6);
  font-weight: var(--font-medium);
}

p.body-1 {
  font-size: var(--body-1-size);
  line-height: var(--line-height-body-1);
  font-weight: var(--font-regular);
}

p.body-2 {
  font-size: var(--body-2-size);
  line-height: var(--body-2-size);
  font-weight: var(--font-regular);
}

p.small {
  font-size: var(--small-size);
  line-height: var(--line-height-small);
  font-weight: var(--font-regular);
}

html {
  height: 100%;
  scroll-behavior: smooth;
  width: 100%;
  color: var(--text-color-base);
  background-color: var(--bg-color-light);
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0 auto;
  font-size: var(--body--size);
  background-color: white;
  color: var(--text-color-base);
  transition: all 0.2s ease-in-out;
  max-width: 1440px;
}

*.dark{
  background-color: var(--bg-color-dark);
}

.dark {
  background-color: var(--bg-color-dark);
  color: white;
  transition: all 0.2s ease-in-out;
}

.container {
  margin: 0 var(--spacing-16px);
  padding: 0 var(--spacing-8px);
}

.button {
  background-color: var(--primary-color-base);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: none;
  font-size: var(--body-size);
}

.button:hover {
  background-color: var(--primary-color-dark);
  cursor: pointer;
}


.scrolltop {
  position: fixed;
  font-size: 24px;
  line-height: 12px;
  z-index: 99999;
  border-radius: 100%;
  padding: 8px;
  border:  none;
  background: var(--primary-color-base);
  color: white;
  bottom: 24px;
  right: 24px;
  cursor: pointer;
  visibility: hidden;
  transition: 0.4s;
}

.scrolltop:hover {
  background: var(--primary-color-dark);
}

.show-scroll{
  visibility: visible;

}


/* ==========  Header  ========== */

header {
  list-style: none;
  position: sticky;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: var(--spacing-48px);
  z-index: 9999;
  transition: 0.2s ease-in-out;
  top: 0;
  left: 0;
  padding: var(--spacing-12px) 0;
  background-color: var(--bg-color-light);
}

li a {
  transition: all 0.2s ease-in-out;
}

header .container {
  margin: 0 var(--spacing-16px);
  padding: 0 var(--spacing-8px);
  z-index: 2;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 8px 12px rgb(0, 0, 0, 0.08));
}

.dark header {
  background-color: var(--bg-color-dark);
}

.logo {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 var(--spacing-16px);
  padding: var(--spacing-8px);
}

nav ul {
  list-style: none;
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  padding-top: 4rem;
  transform: translateY(-100%);
  transition: all 0.5s;
  align-items: stretch;
}

nav ul.slide {
  opacity: 1;
  transform: translateY(0%);
}

nav ul li a {
  padding: var(--spacing-20px);
  display: block;
  color: var(--text-color-base);
  cursor: pointer;
  text-align: center;
}

.dark nav ul li a {
  color: white;
}

nav ul li a:hover {
  font-weight: var(--font-medium);
  color: var(--primary-color-base);
}

.menu {
  display: flex;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
}

.menu span {
  width: 28px;
  height: 2px;
  background-color: #111826;
  border-radius: 2px;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
}

.menu input {
  display: flex;
  position: fixed;
  width: 40px;
  height: 28px;
  opacity: 0;
  top: 22px;
  right: 18px;
  cursor: pointer;
  z-index: 100;
}

.menu span:nth-child(2) {
  transform-origin: left bottom;
}

.menu span:nth-child(4) {
  transform-origin: left top;
}

.menu input:checked ~ span:nth-child(2) {
  transform: rotatez(41deg) translate(-0.5px, -0.5px);
}

.menu input:checked ~ span:nth-child(4) {
  transform: rotatez(-41deg) translate(-0.5px, 0px);
}

.menu input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}

.light scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.light scroll-up header {
  border-bottom: var(--text-color-light1);
}

.toggle {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  width: 72px;
  height: 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin: var(--spacing-24px);
  margin-left: 43%;
}

.toggle i {
  width: 50%;
  text-align: center;
  font-size: 16px;
  z-index: 1;
  padding: 10px;
}

.toggle .ball {
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 2px;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

/* Light Mode */

.light .toggle {
  background-color: var(--primary-color-base);
}

.light .toggle .bxs-sun {
  color: var(--primary-color-base);
}

.light .toggle .bx-moon {
  color: #b7cbfc;
}

.light .toggle .ball {
  background: white;
}

input {
  display: none;
}

/* Dark Theme */

.dark .toggle {
  background-color: var(--text-color-light);
}

.dark .toggle .bx-sun {
  color: var(--text-color-light3);
}

.dark .toggle .bxs-moon {
  color: var(--primary-color-base);
}

.dark .toggle .ball {
  background: white;
  transform: translateX(35px);
}

.dark .menu span {
  background-color: white;
}

.dark nav ul {
  background-color: var(--text-color-light);
}

.dark .toggle {
  background-color: var(--text-color-base);
}

.dark .toggle .ball {
  background-color: white;
}

/* ==========  Hero  ==========  */

.hero {
  text-align: center;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24px);
  padding-top: var(--spacing-32px);
  margin-bottom: var(--spacing-64px);
  color: var(--text-color-base);
}

.dark .hero_text {
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24px);
  margin-bottom: var(--spacing-40px);
  color: var(--text-color-light);
}

.desc_1 {
  margin: var(--spacing-12px);
}

.desc_2 {
  margin: var(--spacing-12px);
}

.dark .desc_1 {
  color: var(--text-color-light3);
}

.dark .desc_2 {
  color: var(--text-color-light3);
}

/* ==========  Portfolio Section  ========== */

.devider {
  display: flex;
  flex-direction: row;
  margin: var(--spacing-80px) 0 0;
  gap: var(--spacing-24px);
  align-items: center;
}

.portfolio_devider {
  display: flex;
  width: 100%;
  height: 1.5px;
  background-color: var(--text-color-light3);
}

.dark .portfolio_devider {
  background-color: var(--text-color-light);
}

.title-section {
  text-align: center;
  margin: var(--spacing-64px) 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: var(--spacing-32px);
  margin-bottom: var(--spacing-64px);
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  background: #fcfcfd;
  border-radius: 18px;
  border: 1px solid #dde0e5;
  padding: var(--spacing-24px);
}

.portfolio-card img {
  transition: all 0.2s;
  height: auto;
  border-radius: 18px;
  display: flex;
}

.portfolio-card .image {
  position: relative;
  overflow: hidden;
  height: auto;
  width: auto;
  border-radius: 18px;
}

.dark .portfolio-card {
  background: #1d212a;
  border-color: #454545;
  transition: transform .25s, visibility .25s ease-in;
}

.portfolio_text {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-24px);
  gap: var(--spacing-16px);
}

.portfolio_text p {
  color: var(--text-color-light1);
}


.portfolio-card:hover {
  cursor: pointer;
  box-shadow: 0px 6px 32px rgba(0, 0, 0, 0.16);
}


.portfolio-card:hover img {
  transform: scale(1.08);
  transition: all 0.2s ease-in-out;
}

.dark .portfolio-card:hover {
  box-shadow: 0px 6px 34px rgba(28, 59, 164, 0.22);
}

/* ==========  Footer  =========== */

footer {
  align-items: center;
  padding-bottom: var(--spacing-48px);
}

.footer_text {
  text-align: center;
  align-items: center;
  justify-items: center;
}

.footer_devider {
  display: flex;
  background-color: var(--text-color-light1);
  height: 1px;
  width: 100%;
}

.dark .footer_devider {
  background-color: var(--text-color-light2);
}

.copyright {
  margin: var(--header-height) 0;
  font-size: 12px;
  color: var(--text-color-light2);
}

.social_media {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
}

.social_media ul {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-24px);
}

.social_media ul li {
  list-style: none;
  width: 100%;
}

.social_media i {
  display: flex;
  color: var(--text-color-light);
  font-size: 24px;
  height: 100%;
  cursor: pointer;
}

.dark .social_media i {
  color: var(--text-color-light2);
}

/* ==========  Large Media  ========== */

@media screen and (min-width: 768px) {
  :root {
    /* ============  Font Size & Line Height - Web  ============ */

    --h1-font-size: 3rem;
    --h2-font-size: 2.25rem;
    --h3-font-size: 2rem;
    --h4-font-size: 1.75rem;
    --h5-font-size: 1.5rem;
    --h6-font-size: 1.25rem;
    --body-1-size: 1rem;
    --body-2-size: 0.75rem;
    --small-1-size: 0.875rem;
    --small-2-size: 0.75rem;

    --line-height-h1: 4rem;
    --line-height-h2: 2.75rem;
    --line-height-h3: 2.5rem;
    --line-height-h4: 2rem;
    --line-height-h5: 1.75rem;
    --line-height-body-1: 1.5rem;
    --line-height-body-2: 1.5rem;
    --line-height-small: 1rem;
  }

  .container {
    margin: 0 var(--spacing-80px);
    padding: 0 var(--spacing-32px);
  }

  header .container {
    margin: 0 var(--spacing-80px);
    padding: var(--spacing-32px);
    z-index: 2;
  }

  .menu {
    display: none;
  }

  header {
    display: flex;
    width: 100%;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--spacing-80px);
    padding: 0 var(--spacing-32px);
  }

  nav ul {
    display: flex;
    transform: translateX(0);
    position: relative;
    transition: none;
    height: 100%;
    padding-top: 0;
    width: 0%;
    padding: 0;
    align-items: center;
    gap: 24px;
  }

  nav ul li a:hover {
    background-color: white;
    color: var(--primary-color-base);
    font-weight: var(--font-medium);
  }

  nav ul li a:hover {
    background-color: white;
    color: var(--primary-color-base);
    font-weight: var(--font-medium);
  }

  .toggle {
    height: auto;
    border-radius: 50px;
    margin:0;
  }


  .light .toggle {
    background-color: var(--primary-color-base);
  }

  .light .toggle .ball {
    background: white;
  }

  .light .toggle .bxs-sun {
    color: var(--primary-color-base);
  }

  .dark .toggle {
    background-color: var(--text-color-light);
  }

  nav ul li a {
    display: flex;
    color: var(--text-color-base);
  }

  .dark nav ul li a:hover {
    background-color: #111216;
    color: var(--prymary-color-base);
    font-weight: var(--font-medium);
  }

  /* ==========  Hero Section  ========== */

  .hero {
    text-align: left;
  }

  .description {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-80px);
  }

  .desc_1 {
    color: var(--text-color-light);
    width: 100%;
    margin:0;
  }

  .desc_2 {
    color: var(--text-color-light);
    width: 100%;
    margin:0;
  }

  .title-section {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: var(--spacing-32px);
  }

  .cards {
    width: 100%;
    flex-wrap: none;
  }

  .footer_text {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: left;
  }

  .footer_devider {
    height: 1px;
    color: var(--text-color-light1);
    border-radius: 2px;
  }

  .copyright {
    margin: var(--header-height) 0;
    font-size: 12px;
    color: var(--text-color-light2);
    width: 100%;
  }

  .social_media {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .social_media ul {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .social_media ul li {
    list-style: none;
    width: 100%;
  }

  .scrolltop {
    font-size: 32px;
  }
}
